<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GenericServletDemo</display-name>
    <servlet-name>GenericServletDemo</servlet-name>
    <servlet-class>GenericServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletDemo</servlet-name>
    <url-pattern>/GenericServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletDemo</display-name>
    <servlet-name>HttpServletDemo</servlet-name>
    <servlet-class>HttpServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletDemo</servlet-name>
    <url-pattern>/HttpServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo1</display-name>
    <servlet-name>Demo1</servlet-name>
    <servlet-class>Demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1</servlet-name>
    <url-pattern>/Demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo2</display-name>
    <servlet-name>Demo2</servlet-name>
    <servlet-class>Demo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo2</servlet-name>
    <url-pattern>/Demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Samplenew</display-name>
    <servlet-name>Samplenew</servlet-name>
    <servlet-class>Samplenew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Samplenew</servlet-name>
    <url-pattern>/Samplenew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieDemo</display-name>
    <servlet-name>CookieDemo</servlet-name>
    <servlet-class>CookieDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDemo</servlet-name>
    <url-pattern>/CookieDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpDemo</display-name>
    <servlet-name>HttpDemo</servlet-name>
    <servlet-class>HttpDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpDemo</servlet-name>
    <url-pattern>/HttpDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardandSendRedirect</display-name>
    <servlet-name>ForwardandSendRedirect</servlet-name>
    <servlet-class>ForwardandSendRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardandSendRedirect</servlet-name>
    <url-pattern>/ForwardandSendRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletJdbc</display-name>
    <servlet-name>ServletJdbc</servlet-name>
    <servlet-class>ServletJdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletJdbc</servlet-name>
    <url-pattern>/ServletJdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerJdbc</display-name>
    <servlet-name>SerJdbc</servlet-name>
    <servlet-class>SerJdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerJdbc</servlet-name>
    <url-pattern>/SerJdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieSamp</display-name>
    <servlet-name>CookieSamp</servlet-name>
    <servlet-class>CookieSamp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieSamp</servlet-name>
    <url-pattern>/CookieSamp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieSamp1</display-name>
    <servlet-name>CookieSamp1</servlet-name>
    <servlet-class>CookieSamp1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieSamp1</servlet-name>
    <url-pattern>/CookieSamp1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session</display-name>
    <servlet-name>Session</servlet-name>
    <servlet-class>Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSerDemo</display-name>
    <servlet-name>HttpSerDemo</servlet-name>
    <servlet-class>HttpSerDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSerDemo</servlet-name>
    <url-pattern>/HttpSerDemo</url-pattern>
  </servlet-mapping>
</web-app>